#video-gallery-section{
    background-color: white;
    padding: 5rem;
    margin-top: 5rem;
}


#video-gallery-section h1{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


@media (max-width: 991px) {
    
    #video-gallery-section{
        background-color: white;
        padding: 2rem;
        margin-top: 2rem;
    }
    
    
  }